@inherits BaseTemplateComponent

<div class="col-12">
    <div class="row">
        <div class="col-10 pl-@Level">
            <input id="@Tree.Id" placeholder="Type question" class="@Tree.Type form-control" @bind-value="@Tree.Text" />
            <span class="textsinglespan"></span>
        </div>
    </div>
</div>